#innerMain{
	width: 450px;
	height: 750px;
	border: 1px solid  #dadce0;
	border-radius: 10px;
	padding: 50px 36px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body{
	background-color: cyan;
	padding: 20%;
}

#innerMain{
	background-color: snow;
}

#main{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	

}

#heading{
	text-align: center;

}

h3{
	font-size: 24px;
	font-weight: 400;
	margin: 0px;
	color: #000;
} 

#formWrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	

}

input{
	width: 100%;
	border: 1px solid #dadce0;
	padding: 20px;
	border-radius: 4px;
	box-sizing: border-box;

}
a{
	color: #1a73e8;
	font-weight: 1000;
	text-decoration: none;
	gap: 20px;
}

#clubs{
	display: flex;
	justify-content: space-between;
	
}

#clubs a{
	color: #1a73e8;
}

#clubs a:hover{
	color: darkcyan;

}

#myButton:hover{
	background-color: lightblue;
	color: black;
}
	

#myButton{
	background-color: #1a73e8;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 12px 24px;
	cursor: pointer;
	
}


#menu{
	display: flex;
	justify-content: space-between;
	width: 450px;
	padding: 29px opx;
	border: none;


}

#menu select{
	border: none;
}

#terms{
	display: flex;
	gap: 24px;

}

#terms a{
	color: black;
	font-weight: 400;
	font-size: 12px;

}